.main {
    margin: auto;
    max-width: 90%;
    width: 900px;
    text-align: center;
    
    margin-top: 1rem;
    padding: 1rem;

    background-color: var(--primary-bg-color);
    border: 2px solid var(--border-color);
}