.task_creator {
    position: relative;
}

.popup {
    position: absolute;
    left: 0;
    top: 1.5rem;
    
    padding: 1rem;
    width: 20rem;
    border: 2px solid var(--border-color);
    background-color: var(--primary-bg-color);

    z-index: 10;
}
@media (max-width: 768px) {
    .popup {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
}



