.task_list {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr 150px 50px;
}
.task_list div {
    width: 100%;
    min-height: 3rem;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    overflow-wrap: break-word;
}
@media (max-width: 768px) {
    .task_list {
        grid-template-columns: repeat(2, 1fr);
    }
    .task_list div {
        min-height: 0;
    }
    .title_column, .description_column {
        grid-column: span 2;
    }
}

.select_column select {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.title_column, .description_column {
    border-right: 2px solid var(--border-color);
}
@media (max-width: 768px) {
    .title_column {
        font-weight: bold;
    }
}


.delete_column button {
    border: none;
    background: none;
    color: var(--color-special-1);
    font-size: 1.5rem;
    cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main_cell {
    border-top: 1px dashed var(--border-color);
    animation: fadeIn 0.5s ease-in forwards;
}

@media (max-width: 768px) {
    .main_cell {
        border: none
    }
    .title_column.main_cell {
        border-top: 1px dashed var(--border-color);
    }
    .status_column.main_cell, .delete_column.main_cell {
        border-bottom: 1px dashed var(--border-color);
    }
    
    .task_list .header_cell {
        display: none;
    }
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation button {
    color: var(--color-special-2);
    font-size: 2rem;
    background: none;
    border: none;
}


