.task_list {
    display: grid;
    grid-template-columns: 200px 1fr 150px 50px;
}

.select_column select {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.title_column, .description_column {
    border-right: 2px solid var(--border-color);
}


.delete_column button {
    border: none;
    background: none;
    color: var(--color-special-1);
    cursor: pointer;
}

.with_separator {
    border-top: 1px dashed var(--border-color);
}
