.task_list {
    display: grid;
    grid-template-columns: 200px 1fr 150px 50px;
}
@media (max-width: 768px) {
    .task_list {
        grid-template-columns: repeat(2, 1fr);
    }
    .title_column, .description_column {
        grid-column: span 2;
    }
}

.select_column select {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.title_column, .description_column {
    border-right: 2px solid var(--border-color);
}


.delete_column button {
    border: none;
    background: none;
    color: var(--color-special-1);
    cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main_cell {
    border-top: 1px dashed var(--border-color);
    animation: fadeIn 0.5s ease-in forwards;
}

@media (max-width: 768px) {
    .main_cell {
        border: none
    }
    .title_column.main_cell {
        border-top: 1px dashed var(--border-color);
    }
    
    .header_cell {
        display: none;
    }
}


