.task_list {
    display: grid;
    grid-template-columns: 200px 1fr 150px 50px;
}

.task_row_select {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 0;
}